{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "plugins": ["@typescript-eslint", "import", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "plugin:jest/recommended"
  ],
  "ignorePatterns": ["node_modules/*", ".next/*", ".out/*", "!.prettierrc.js", "public/"],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {},
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "semi": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/destructuring-assignment": "off",
    "react/forbid-prop-types": "off",
    "react/prop-types": "off",
    "react/no-unused-prop-types": "warn",
    "import/extensions": "off",
    "import/no-unresolved": "error",
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "consistent-return": "off",
    "no-param-reassign": "off",
    "radix": "off",
    "no-use-before-define": "off",
    "react/prefer-stateless-function": "off",
    "no-unused-vars": "off",
    "unicorn/no-null": "off",
    // Place to specify ESLint rules. Can be used to overwrite rules specified from the extended configs
    // e.g. "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-empty-function": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/html-has-lang": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-unused-vars": "error",
    // "default-case": "off",
    "@typescript-eslint/switch-exhaustiveness-check": "error"
  }
}
